.btn-orange {
    background-color: #F7941D !important;
}

.bg-xolor {
    background-color: #37860C !important;
}

nav {
    padding-left: 5%;
    padding-right: 5%;
}

.hero {
    background-image: url(../../assets/images/Hero-section-nig.png);
    background-size: cover;
    background-position: center;
    height: 150vh;
  }

  .bg-secondary-nig {
    background-color: #83A602 !important;
  }

  .cta {
    background: linear-gradient(90deg, rgba(217, 217, 217, 0.00) 0%, rgba(146, 175, 39, 0.22) 40.86%, rgba(139, 171, 22, 0.24) 44.6%, rgba(131, 166, 2, 0.26) 49.25%, rgba(139, 171, 23, 0.23) 54.2%, rgba(217, 217, 217, 0.00) 100%);
    }
  
  .pricing-information {
    background-image: url(../../assets/images/pricing-information.png);
    background-size: contain;
    background-position: center;
  }

  .imagemargin{
    margin-top: -5rem;
    margin-right: 9rem !important;
}

.w-75{
    width: 100% !important;
}

@media (max-width: 1125px){
    .imagemargin{
        margin-top: 0rem !important;
        margin-left: -8rem !important;
    }


    .ms-5{
        margin-left:0rem !important;
    }


    .w-75{
        width: 98% !important;
   
    }
}

@media (max-width: 567px){
  .imagemargin{
      margin-top: 0rem !important;
      margin-left: -10rem !important;
  }
}

/* color */
.btnorange {
  padding: 1.25rem 0 !important;
  background-color: #F7941D !important;
  color: white;
}

.btngreen {
  padding: 1.25rem 0 !important;
  background-color: #39900E;
  color: white
}

.bordermargin{
  width: 5rem;
  height: 5rem;
  padding-top: 1.5rem;
  border-radius: 100% !important;
}

.faqsection{
  margin-top: 5rem;
 
  color: #39900E;
  border-bottom: solid;
  margin-bottom: 1rem;
  width: 3.5rem;
}

.input-group{
  width: 59%;
}

.mx-6{
  margin-left: -6.5rem;
  z-index: 9999;
  background-color: #39900E !important;
}

.btn-green {
  background-color: #B1C663 !important;
}