<main class="font-opensans">
    <section class="hero text-sm">
        <nav class="navbar navbar-expand-md bg-xolor">
            <div class="container">
                <div class="d-md-flex flex-md-row align-items-center">
                    <a class="navbar-brand" routerLink="/nig">
                        <img src="assets/images/logo.svg" alt="logo" class="logo">
                        </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="leadHubDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Lead Hub
                            </a>
                            <div class="dropdown-menu" aria-labelledby="leadHubDropdown">
                                <a class="dropdown-item" href="#">Option 1</a>
                                <a class="dropdown-item" href="#">Option 2</a>
                                <a class="dropdown-item" href="#">Option 3</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Our Core Features</a>
                        </li>
                    </ul>
                    <button class="btn btn-orange rounded-pill text-white">Set Up Session</button>
                </div>
            </div>
        </nav>
        <div class="grid md:grid-cols-2 md:text-left text-center text-white mt-56 items-center md:gap-0 gap-32">
            <div class="space-y-5 md:pr-20">
              <h3 class="font-bold text-5xl leading-snug">Empower your learning journey</h3>
              <p>Join our 400+ happy families with LEAD tutors</p>
              <button class="bg-secondary-nig text-white rounded-full px-6 py-3 font-semibold">Schedule a Demo</button>
            </div>
            <div class="">
              <img src="../../assets/images/hero.png" alt="">
            </div>
          </div>
    </section>
    <section class="md:px-20 px-5 relative md:space-y-20 space-y-10 py-20">
        <h3 class="text-center font-bold md:text-3xl text-2xl">Experience the Uniqueness of LEADlearning</h3>
        <div class="grid md:grid-cols-3 md:gap-40 gap-10">
          <div class="flex flex-col space-y-3 items-center text-center">
            <img src="../../assets/images/daily-feedback-nig.png" alt="">
            <div class="space-y-2">
              <h4 class="font-bold">Daily Feedback</h4>
              <p>Stay on track with our daily post-session feedback. We believe in keeping everyone involved and adaptable,
                making real-time interventions for continuous improvement.</p>
            </div>
          </div>
          <div class="flex flex-col space-y-3 items-center text-center">
            <img src="../../assets/images/monthly-strategy-evaluation-nig.png" alt="">
            <div class="space-y-2">
              <h4 class="font-bold">Monthly Strategy Evaluation</h4>
              <p>We are committed to your growth. Our program manager conducts monthly evaluations to fine-tune strategies,
                ensuring your progress remains on the right track.</p>
            </div>
          </div>
          <div class="flex flex-col space-y-3 items-center text-center">
            <img src="../../assets/images/qualified-tutors-nig.png" alt="">
            <div class="space-y-2">
              <h4 class="font-bold">Qualified Tutors</h4>
              <p>Our tutors blend pedagogical expertise with digital tools to create an exceptional learning experience.
                They mentor and teach with passion, ensuring you get the best support.</p>
            </div>
          </div>
        </div>
        <img src="../../assets/images/Symbol.svg" alt="" class="absolute bottom-0 left-0 w-20">
      </section>
    
      <section class="cta flex items justify-center md:px-20 px-5 py-20">
        <div
          class="flex md:flex-row flex-col justify-between items-center w-full md:text-left text-center md:space-y-0 space-y-5">
          <div class="max-w-xl space-y-3 relative">
            <h4 class="font-bold text-2xl">Elevate your learning experience at LEADlearning</h4>
            <p>Join us today and embark on a journey of empowerment, knowledge, and success. Your potential, our commitment!
            </p>
            <img src="../../assets/images/rocket-icon.svg" alt="" class="absolute md:block hidden -top-12 -right-10 w-14">
          </div>
          <button class="btn-orange text-white rounded-full px-6 py-3 font-semibold">Schedule a Demo</button>
        </div>
      </section>
      <section class="md:px-20 px-5 relative space-y-20 py-20">
        <div class="space-y-3 md:max-w-3xl mx-auto text-center">
          <h3 class="text-center font-bold text-3xl">Unlock Your Full Potential with Our Comprehensive Educational Programs!
          </h3>
          <p>At LEADlearning, we are dedicated to nurturing your educational journey.
            Our diverse range of programs is designed to cater to your unique learning needs:</p>
        </div>
        <div class="grid md:grid-cols-3 md:gap-40 gap-10">
          <div class="flex flex-col space-y-5 items-center text-center">
            <img src="../../assets/images/in-course-support-nig.svg" alt="">
            <div class="space-y-2">
              <h4 class="font-bold">In-Course Support</h4>
              <p>Embark on a seamless educational journey with our unwavering support throughout your courses. Our
                experienced tutors ensure you grasp every concept, turning challenges into stepping stones.</p>
            </div>
          </div>
          <div class="flex flex-col space-y-5 items-center text-center">
            <img src="../../assets/images/academic-foundation-nig.svg" alt="">
            <div class="space-y-2">
              <h4 class="font-bold">Academic Foundation</h4>
              <p>Strengthen your core knowledge with our specialized programs, courses, and innovative methodologies.
                Rebuild your foundations in any subject and set yourself up for success.</p>
            </div>
          </div>
          <div class="flex flex-col space-y-5 items-center text-center">
            <img src="../../assets/images/examination-nig.svg" alt="">
            <div class="space-y-2">
              <h4 class="font-bold">Examination Prep</h4>
              <p>Conquer your exams with confidence! Our expert tutors excel in preparing you for renowned examinations such
                as SAT, IGCESE, ACT, and more. We guide you through the process, equipping you with the skills you need to
                excel.
              </p>
            </div>
          </div>
        </div>
        <img src="../../assets/images/unlock.svg" alt="" class="absolute bottom-0 right-0 w-20">
      </section>
</main>