<main class="font-opensans">
    <nav class="navbar navbar-expand-md bg-white">
        <div class="container">
            <div class="d-md-flex flex-md-row align-items-center">
                <a class="navbar-brand" routerLink="/nig">
                    <img src="../../../assets/images/logo-dark.png" alt="logo" class="logo">
                    </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-black" href="#" id="leadHubDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Lead Hub
                        </a>
                        <div class="dropdown-menu" aria-labelledby="leadHubDropdown">
                            <a class="dropdown-item cursor-pointer" routerLink="/games-village-campus">Games Village Campus</a>
                            <a class="dropdown-item cursor-pointer" routerLink="/kado-campus">Kado Campus</a>
                            <a class="dropdown-item" href="#">Option 3</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="#">Our Core Features</a>
                    </li>
                </ul>
                <button class="btn btn-orange rounded-pill text-white">E-School</button>
            </div>
        </div>
    </nav>
    <section class="hero text-sm flex flex-col items-center justify-center">
        <div class="max-w-3xl h-auto bg-white mx-auto p-5 text-center">
            <h1 class="mb-2 text-2xl font-bold">Would you rather enroll at our LEADLearning hubs?</h1>
            <p class="mb-5 text-base text-gray-500">The LEAD hubs guarantee the holistic development of our students, encompassing academic, psychological, and social growth. We provide a supportive and conducive environment for students to enhance their learning experience, develop essential skills, and achieve their life goals within our encouraging community.</p>
            <button class="btn btngreen rounded-pill text-white align-items-center">Join our Hub</button>
        </div>
    </section>
</main>
